@using WebApplication8.Data.Entities
@using WebApplication8.ViewModels
@model List<User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserIndex</title>
<link href="/css/site.css" rel="stylesheet" />
</head>
<body>
    <h1>User list</h1>
    <a asp-action="AddUpdateUser">Add new user</a>

   <partial name="_UserFilter" model ="(UserFilterModel)ViewBag.Filter" />
    @if(Model.Count > 0)
    {
         <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Id Number</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.IDNumber</td>
                    <td>@item.Email</td>
                    <td>
                        <a asp-action="AddUpdateUser" asp-route-id="@item.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteUser" asp-route-id ="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <span class="empty-result">No users found :(</span>
    }

</body>
</html>
